{extend name="manage@template/iframe"/}
{block name="body"}
<div class="view-page">
    <!-- 页面标题 -->
    <div class="page-head">
        <h6 class="padding-left page-head-title">绑定微信公众号
        <span class="fr text-small text-normal padding-top"><b class="text-main">尚未绑定</b></span>
        </h6>
    </div>
        
    <div class="page-content">
        <div class="non-info show">
            <button class="btn btn-lg btn-success linkto-btn" data-url="{$url}">  绑定公众号   </button>
        </div>
    </div>


</div>
{/block}
{block name="script"}
<script>
var $page = {};

$(function(){
	$(".status-btn").each(function(){
        loadStatusBtn($(this));
    })
})

</script>
{/block}